/*
* @Author: ren522686239
* @Date:   2017-07-27 10:34:20
* @Last Modified by:   ren522686239
* @Last Modified time: 2017-07-27 10:52:30
*/
.footer{
	padding-bottom: 10px
}
.footer .links {
	text-align: center;
	color: #666;
	line-height: 30px;
}
.footer .links .link {
	padding: 0 10px;
}
.copyright{
	text-align: center;
	color: #666;
	line-height: 30px;
}