/*
* @Author: ren522686239
* @Date:   2017-11-05 11:08:24
* @Last Modified by:   ren522686239
* @Last Modified time: 2017-11-05 11:13:12
*/

/*banner*/

.banner { position: relative; overflow: auto; }
.banner li { list-style: none; }
.banner ul li { float: left; }